@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-y: hidden; */
  margin: 0;
  padding: 0;
  background-color: #111827;
}

.react-select__control {
  background-color: #2d3748; /* Dark background */
  border-color: #4a5568; /* Gray border */
  color: #e2e8f0; /* Light text */
}

.react-select__menu {
  background-color: #2d3748; /* Match the background */
  color: #e2e8f0;
}

.react-select__option {
  color: #e2e8f0;
}

.react-select__option--is-selected {
  background-color: #009688; /* Highlight selected option */
}

.react-select__multi-value {
  background-color: #512da8; /* Tag background */
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .card-wrapper {
    @apply relative bg-gradient-to-b from-slate-900 to-slate-900 rounded-2xl overflow-hidden;
  }

  .card-wrapper::before {
    background: conic-gradient(
      rgba(4, 189, 68) 0deg,
      rgba(3, 128, 47) 0deg,
      transparent 60deg
    );

    @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] animate-border-spin;
  }

  .card-content {
    @apply absolute w-[calc(100%-4px)] h-[calc(100%-4px)] top-[2px] left-[2px] bg-gradient-to-b from-slate-800 to-slate-900 rounded-2xl;
  }
}

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
